.bg-insert {
    background-image: linear-gradient(#819FF7, #81F7D8,#58FAF4);
    max-width: 80%;
    margin-top: 0;
    margin: auto;
    padding-bottom: 5%;
    padding-top: 3%;
}
.form-control{
    text-align: center;
}
.btn btn-outline-info{
    text-align: center;
}